@import '~@splidejs/splide/dist/css/splide.min.css';

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
    @variants responsive {
        .block-important {
            display: block !important;
        }
    }
    .text-vertical {
        writing-mode: vertical-lr;
    }
}

@layer components {
    .menu-item {
        @apply flex items-center justify-center flex-col bg-white p-2 rounded-lg hover:bg-violet-800 transition hover:text-white;
    }

    @variants responsive {
        .custom-scroll {
            @apply scrollbar scrollbar-thin scrollbar-thumb-indigo-300 scrollbar-track-transparent scrollbar-thumb-rounded-md;
        }
    }

    .skills-table {
        grid-template-columns: 88px 1fr;
    }

    .skills-table > div {
        @apply border-b border-indigo-300
    }

    .skills-table > div.border-b-0 {
        border-bottom: 0;
    }

    @media (min-width: 359px) {
        .tooltip-content {
            width: 257px;
        }
    }
    .hover-row {
        @apply relative;
    }
}

.mobile-menu {
    height: calc(100vh - 52px);
}

.fade-enter-active,
.fade-leave-active {
    @apply transition;
}

.fade-enter-from,
.fade-leave-to {
    @apply opacity-0;
}

.slide-up-enter-active,
.slide-up-leave-active {
    @apply transition transform origin-bottom;
}

.slide-up-enter-from,
.slide-up-leave-to {
    @apply scale-y-0;
}

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    @apply transition transform;
}

.slide-right-enter-from,
.slide-right-leave-to {
    @apply opacity-0 translate-x-full;
}

.slide-left-enter-from,
.slide-left-leave-to {
    @apply opacity-0 scale-0 -translate-x-20;
}

.splide__slide {
    @apply rounded-lg overflow-hidden;
}

.splide__pagination {
    @apply top-full mt-5;
}

.splide__pagination__page {
    @apply bg-violet-400;
}

.splide__pagination__page.is-active {
    @apply bg-violet-800 scale-125;
}